

$icon-dr: "\ea01";

$icon-fut: "\ea04";

$icon-ind: "\ea02";

$icon-tri: "\ea03";


@font-face {
    font-family: "icon";
    src: url("/fonts/icon.eot");
    src: url("/fonts/icon.eot?#iefix") format("embedded-opentype"), url("/fonts/icon.woff2") format("woff2"), url("/fonts/icon.woff") format("woff"), url("/fonts/icon.ttf") format("truetype"), url("/fonts/icon.svg#icon") format("svg");
}

%icon {
    display: inline-block;
    text-rendering: auto;
    font-family: icon;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

.icon {
    @extend %icon;
}


.icon-dr::before {
    content: "\ea01";
}

.icon-fut::before {
    content: "\ea04";
}

.icon-ind::before {
    content: "\ea02";
}

.icon-tri::before {
    content: "\ea03";
}

